VITE_SUPABASE_URL=https://qlezchaoyulalxnpuyys.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZXpjaGFveXVsYWx4bnB1eXlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMzg2NDUsImV4cCI6MjA4NzYxNDY0NX0.zxSMmB1XxdavKvIMo4NYNUA0xTSr2uQOlHoaezbODoc
